.intro-section{
    padding: 5rem 12rem 3rem 12rem;
    .text{
        font-size: 24px;
        color: #222;
    }
    .head{
        font-size: 3.5rem;
        font-weight: 900;
    }
    .demo-btn{
        font-size: 18px;
        padding: .7rem 2.2rem;
    }
    .animated-text{
        font-weight: 900;
        color:#0091ff;
        font-size: 3.5rem;

    }
}